<!-- @if (permissions.includes(permission)) { -->
  <li>
    <button type="button" class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" aria-controls="dropdown-example" data-collapse-toggle="dropdown-example">
          <i class="mb-2" [ngClass]="icon"></i>
          <span [ngClass]="statusSideBar ? 'invisible' : 'visible'" class="flex-1 text-left">{{text}}</span>
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
          </svg>
    </button>
    <ul id="dropdown-example" class="hidden py-2 space-y-2">
      @for (item of items; track $index) {
        <!-- @if (permissions.includes(item.permission)) { -->
          <li>
            <a class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" [ngClass]="statusSideBar ? 'invisible' : 'visible'" [href]="item.routeActive">{{item.textMenu}}</a>
          </li>
        }
      <!-- } -->
    </ul>
  </li>
<!-- } -->
