<aside
  id="sidebar-multi-level-sidebar"
  [ngClass]="statusSideBar ? 'reduced' : 'complete'"
  class="h-screen bg-[#000357]"
  aria-label="Sidebar"
>
  <div
    class="flex flex-col items-center justify-between h-full py-4 overflow-y-auto"
  >
    <app-logo [status]="statusSideBar"></app-logo>
    <ul
      class="flex-1 flex flex-col items-start justify-center space-y-2 font-medium text-white"
      [ngClass]="statusSideBar ? 'reduced' : 'complete'"
    >
      <!-- Bonificação -->
      @if (hasAnyPermission(permissoesBonificacao)) {
      <li>
        <button
          #menuButtonBonificacao
          (click)="checkMenuState(menuButtonBonificacao)"
          type="button"
          class="flex items-center w-full p-2 gap-4 text-base transition duration-75 rounded-lg group"
          aria-controls="dropdown-bonificacao"
          data-collapse-toggle="dropdown-bonificacao"
        >
          <i-lucide [img]="CircleDollarSign"></i-lucide>
          @if (!statusSideBar) {
          <span class="flex-1 text-left rtl:text-right whitespace-nowrap"
            >Bonificação</span
          >
          }

          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 4 4 4-4"
            />
          </svg>
        </button>

        <app-menus
          [menus]="subMenusBonificacao"
          [id]="'dropdown-bonificacao'"
          [hasPermission]="hasPermission.bind(this)"
        >
        </app-menus>
      </li>
      }
      <!-- Bonificação -->

      <!-- Gestão -->
      @if(hasAnyPermission(permissoesGestao)) {

      <li>
        <button
          #menuButtonGestao
          (click)="checkMenuState(menuButtonGestao)"
          type="button"
          class="flex items-center w-full p-2 gap-4 text-base transition duration-75 rounded-lg group"
          aria-controls="dropdown-gestao"
          data-collapse-toggle="dropdown-gestao"
        >
          <i-lucide [img]="SquareKanban"></i-lucide>
          @if (!statusSideBar) {
          <span class="flex-1 text-left rtl:text-right whitespace-nowrap"
            >Gestão</span
          >
          }
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 4 4 4-4"
            />
          </svg>
        </button>
        <ul id="dropdown-gestao" class="hidden py-2 space-y-2">
          <app-submenus
            [idBtn]="'comercialMarketingButton'"
            [id]="'comercialMarketing'"
            [textMenu]="'Comercial / Marketing'"
            [permissions]="permissoesComercialMarketing"
            [menus]="subMenuComercialMarketing"
            [hasAnyPermission]="hasAnyPermission.bind(this)"
            [hasPermission]="hasPermission.bind(this)"
          ></app-submenus>

          <app-submenus
            [idBtn]="'tesouraria'"
            [id]="'tesourariaDropdown'"
            [textMenu]="'Tesouraria'"
            [permissions]="permissoesTesouraria"
            [menus]="subMenuTesouraria"
            [hasAnyPermission]="hasAnyPermission.bind(this)"
            [hasPermission]="hasPermission.bind(this)"
          ></app-submenus>

          @for (item of listMenuOptions; track $index) {
          <app-menu-option
            [text]="item.text"
            [route]="item.route"
            [hasPermission]="hasPermission.bind(this)"
            [permission]="item.permission"
          ></app-menu-option>
          }
        </ul>
      </li>
      }
      <!-- Gestão -->

      <!-- TV -->
      @if (hasPermission('usuarios.dashboard_tv')) {
      <li>
        <button
          #menuButtonTv
          (click)="checkMenuState(menuButtonTv)"
          type="button"
          class="flex items-center w-full p-2 gap-4 text-base transition duration-75 rounded-lg group"
          aria-controls="dropdown-tv"
          data-collapse-toggle="dropdown-tv"
        >
          <i-lucide [img]="TvMinimal"></i-lucide>
          @if (!statusSideBar) {
          <span class="flex-1 text-left rtl:text-right whitespace-nowrap"
            >TV</span
          >
          }

          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 4 4 4-4"
            />
          </svg>
        </button>

        <app-menus
          [menus]="subMenusTV"
          [id]="'dropdown-tv'"
          [hasPermission]="hasPermission.bind(this)"
        >
        </app-menus>
      </li>
      }
      <!-- TV -->
    </ul>
    <app-logout [status]="statusSideBar"></app-logout>
    <div
      class="contract-sidebar h-[35px] w-[35px] text-white bg-[#02ab10] flex items-center justify-center rounded-full cursor-pointer"
      (click)="toggleSideBar()"
    >
      <div>
        <i class="bi bi-caret-left-fill" *ngIf="!statusSideBar"></i>
        <i class="bi bi-caret-right-fill" *ngIf="statusSideBar"></i>
      </div>
    </div>
  </div>
</aside>
