<aside class="sidebar-menu" [ngClass]="statusSideBar ? 'reduced' : 'complete'">
  <div class="logo">
    <img *ngIf="!statusSideBar" src="assets/logo.png" style="padding-top: 2rem;" [ngClass]="statusSideBar ? 'invisible' : 'visible'">
    <img *ngIf="statusSideBar" src="assets/sublogo.png" width="48" height="48">
  </div>
  <nav>
    <ul>
      @for (item of menuItems; track $index) {
        <app-item-drawer 
          [permissions]="permissions"
          [icon]="item.icon"
          [isActive]="isActive(item.routeActive)"
          [menuRouter]="item.routeActive"
          [permission]="item.permission"
          [statusSideBar]="statusSideBar"
          [textMenu]="item.textMenu"
        />
      }
    </ul>
  </nav>
  <div class="options">
    <div class="logout" [ngClass]="statusSideBar ? 'logout_reduced' : 'logout_complete'" (click)="logout()">
      <i class="bi bi-box-arrow-left"></i>
      <span [ngClass]="statusSideBar ? 'invisible' : 'visible'">Sair</span>
    </div>
    <div class="contract-sidebar">
      <button (click)="toggleSideBar()">
        <i class="bi bi-caret-left-fill" *ngIf="!statusSideBar"></i>
        <i class="bi bi-caret-right-fill" *ngIf="statusSideBar"></i>
      </button>
    </div>
  </div>
</aside>