/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  background-origin: padding-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
